/*---------------------- Default Landscape Phone 320px -----------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: white;
}

body {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}

button {
  background-color: #2e2e2e;
  color: white;
  transition-duration: 0.4s;
  border: none;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #2e2e2e;
  width: 100%;
  height: 8%;
  z-index: 1;
}

button {
  height: 100%;
  font-family: Consolas, monaco, monospace;
  font-size: 0.6rem;
  text-transform: lowercase;
  border: none;
  padding: 0rem 0.4rem;
}

.navbar a {
  padding: 0;
  height: 100%;
  border: none;
}

button:hover {
  background-color: #6D98AB;
  cursor: pointer;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: black;
}

.header {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 10%; /*accomodates for navbar*/
  padding: 0.5rem;
  font-family: Consolas, monaco, monospace;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 3px;
  outline-style: solid;
  outline-width: 4px;
  min-width: 20.4rem; /*dont change*/
}

.justinsantos{
  display: flex;
  text-align: center;
}

.header-description {
  padding: 1.5rem 1rem;
  text-align: center;
  font-family: "Open Sans";
  font-size: 1.1rem;
}

.header-description a {
  transition-duration: 0.4s;
  text-decoration: none;
  color: white;
}

.header-description a:hover {
    color: #6D98AB;
}

.header-icons-ul li {
  display: inline-block;
  list-style: none;
  padding: 0rem 0.4rem;
}

.header-icons-ul li .fab {
  font-size: 2rem;
  transition: 0.4s
}

.header-icons-ul li a {
  color: white;
}

.header-icons-ul li a:hover {
  color: #6D98AB;
  cursor: pointer;
}

.main-body-header {
  font-family: Consolas, monaco, monospace;
  width: 100%;
  font-size: 25px;
  letter-spacing: 3px;
  padding: 5.5rem 0.5rem 0.5rem; /*accomodates for navbar and more*/
}

.justinText {
  color: #6D98AB;
}

.main-body-text {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: left;
  font-family: "Open Sans";
  padding: 0rem 2rem ;
}

.main-body-text.about {
  display: inline-block;
}

.main-body-text.about p{
  margin: 0.25rem;
  font-size: 0.825rem;
  color: white;
}

.main-body-text.education {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  align-items: baseline;
  text-align: left;
  padding: 0 2rem;
}

.main-body-text.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about-area, .projects-area, .education-area, .resume-area, .contact-area {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  width: 100%;
  height: 150vh;
}

.main-body-text.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border: 2px solid white;
  border-radius: 2px;
  z-index: 10;
  background-color: black;
  width: 726px;
  max-width: 80%;
  transition: 0.4s;
}

.modal-img {
  transition-duration: 0.4s;
  height: 100%;
  width: 100%;
}

.modal-open-button-container {
  background-color: #6D98AB;
  opacity: 1;
  height: 9rem;
  width: 16rem;
  border: 5px solid #2e2e2e;
  margin: 10px;
}

.modal-open-button-container:hover .modal-img{
  opacity: 0.3;
  cursor: pointer;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 0.5rem;
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 1px solid white;
}

.modal-header .modal-title {
  font-family: Consolas, monaco, monospace;
  font-size: 1.0rem;
  font-weight: bold;
  color: #6D98AB;
  width: 95%;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 0.2rem;
  transition-duration: 0.4s;
  color:white;
}

.modal-header .close-button:hover {
  color: #6D98AB;
}

.modal-body {
  font-size: 0.9rem;
  padding: 0rem 1rem;
}

.modal-skills .fab{
  font-size: 1rem;
  transition: 0.4s;
  padding: 0.75rem 0rem 0.25rem 1rem;
  color: white;
}

.modal-skills .fab:hover {
  cursor: pointer;
  color: #6D98AB;
}

.modal-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.modal-buttons button{
  margin: 0.5rem 1rem;
  padding: 0.4rem;
  font-size: 0.9rem;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6D98AB;
  z-index: 9;
  pointer-events: none;
  transition: 0.4s;
}

#overlay.active{
  opacity: 0.2;
  pointer-events: all;
}

.university-name-info-container {
  margin-right: 1rem;
  width: 45%;
}

.university-name {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 1.1rem;
  color: #6D98AB;
  border-bottom: 1px solid gray;
}

.university-info {
  padding-top: 0.5rem;
  font-size: 0.75rem;
  line-height: 1.5rem;
}

.relevant-courses-container {
  font-size: 0.8rem;
  width: 55%;
}

.in-relevant-courses {
  padding-bottom: 0.45rem;
}

html {
  scroll-behavior: smooth;
  transition-duration: 0.4s;
}

.blinking-underscore{
  color: white;
  animation: blink 1s infinite;
}
.blinking-underscore.typing {
  animation: none;
}
@keyframes blink {
  0% { color: white; }
  49% { color: white; }
  50% { color: black; }
  99% { color: black; }
  100% { color: white; }
}

.contact-text {
  font-family: "Open Sans";
  text-align: left;
  padding-bottom: 0.9rem;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.contact-text a {
  transition-duration: 0.4s;
  color: white;
}

.contact-text a:hover {
  color: #6D98AB;
}

.form-control {
  width: 100%;
  background: transparent;
  border: 1px solid gray;
  outline: none;
  color: white;
  font-family: "Open Sans";
  font-size: 0.9rem;
  margin-bottom: 0.9rem;
  padding: 0.45rem;
}

.form-control.message {
  height: 10rem;
  padding: 0.1rem 0.45rem;
}

input {
  height: 1.5rem;
}

.form-control.submit {
  background: #2e2e2e;
  border-color: transparent;
  color: white;
  font-size: 0.9rem;
  height: 2rem;
  transition-duration: 0.4s;
}

.form-control.submit:hover {
   background-color: #6D98AB;
   cursor: pointer;
}

/*--------------------------- Landscape Phone 480px ---------------------------*/
@media only screen and (min-width: 480px) and (orientation:landscape) {
  .navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #2e2e2e;
    width: 100%;
    height: 8%;
    z-index: 1;
  }

  .navbar button {
    height: 100%;
    border: none;
    color: white;
    font-family: Consolas, monaco, monospace;
    font-size: 0.75rem;
    text-transform: lowercase;
    border: none;
    background-color: #2e2e2e;
    transition-duration: 0.4s;
    padding: 0rem 0.5rem;
  }

  .navbar a {
    padding: 0;
    height: 100%;
    border: none;
  }

  button:hover {
    background-color: #6D98AB;
    cursor: pointer;
  }

  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: black;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 10%; /*accomodates for navbar*/
    padding: 0.5rem;
    font-family: Consolas, monaco, monospace;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 3px;
    outline-style: solid;
    outline-width: 4px;
    min-width: 20.4rem; /*dont change*/
  }

  .justinsantos{
    display: flex;
    text-align: center;
  }

  .header-description {
    padding: 1.5rem 1rem;
    text-align: center;
    font-family: "Open Sans";
    font-size: 1.1rem;
  }

  .header-description a {
    transition-duration: 0.4s;
    text-decoration: none;
    color: white;
  }

  .header-description a:hover {
      color: #6D98AB;
  }

  .header-icons-ul li {
    display: inline-block;
    list-style: none;
    padding: 0rem 0.4rem;
  }

  .header-icons-ul li .fab {
    font-size: 2rem;
    transition: 0.4s
  }

  .header-icons-ul li a {
    color: white;
  }

  .header-icons-ul li a:hover {
    color: #6D98AB;
    cursor: pointer;
  }

  .main-body-header {
    font-family: Consolas, monaco, monospace;
    width: 100%;
    font-size: 25px;
    letter-spacing: 3px;
    padding: 2.5rem 0.5rem 1rem; /*accomodates for navbar and more*/
  }

  .justinText {
    color: #6D98AB;
  }

  .main-body-text {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: left;
    font-family: "Open Sans";
    padding: 0rem 2rem ;
  }

  .main-body-text.about {
    display: inline-block;
  }

  .about-area {
    min-height: 160vh;
  }

  .projects-area {
    min-height: 100vh;
  }

  .education-area {
    min-height: 190vh;
  }

  .main-body-text.about p{
    background-color: #2e2e2e;
    padding:10px;
    margin: 10px;
    font-size: 0.85rem;
    color: white;
  }

  .main-body-text.education {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    align-items: baseline;
    text-align: left;
    padding: 0 2rem;
  }

  .main-body-text.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .about-area, .projects-area, .education-area, .resume-area, .contact-area {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    width: 100%;
  }

  .main-body-text.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 2px solid white;
    border-radius: 2px;
    z-index: 10;
    background-color: black;
    width: 726px;
    max-width: 90%;
    transition: 0.4s;
    max-height: 90%;
  }

  .modal-img {
    transition-duration: 0.4s;
    height: 100%;
    width: 100%;
  }

  .modal-open-button-container {
    background-color: #6D98AB;
    opacity: 1;
    height: 6.75rem;
    width: 12rem;
    border: 5px solid #2e2e2e;
    margin: 10px;
  }

  .modal-open-button-container:hover .modal-img{
    opacity: 0.3;
    cursor: pointer;
  }

  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }

  .modal-header {
    padding: 0.5rem;
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid white;
  }

  .modal-header .modal-title {
    font-family: Consolas, monaco, monospace;
    font-size: 1.0rem;
    font-weight: bold;
    color: #6D98AB;
    width: 95%;
  }

  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 0.2rem;
    transition-duration: 0.4s;
    color:white;
  }

  .modal-header .close-button:hover {
    color: #6D98AB;
  }

  .modal-body {
    font-size: 0.7rem;
    padding: 0rem 1rem;
  }

  .modal-skills .fab{
    font-size: 1rem;
    transition: 0.4s;
    padding: 0.5rem 0rem 0.25rem 1rem;
    color: white;
  }

  .modal-skills .fab:hover {
    cursor: pointer;
    color: #6D98AB;
  }

  .modal-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
  }

  .modal-buttons button{
    margin: 0.5rem 1rem;
    padding: 0.4rem;
    font-size: 0.7rem;
  }

  #overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #6D98AB;
    z-index: 9;
    pointer-events: none;
    transition: 0.4s;
  }

  #overlay.active{
    opacity: 0.2;
    pointer-events: all;
  }

  .university-name-info-container {
    margin-right: 1rem;
    width: 45%;
  }

  .university-name {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 1.1rem;
    color: #6D98AB;
    border-bottom: 1px solid gray;
  }

  .university-info {
    padding-top: 0.5rem;
    font-size: 0.75rem;
    line-height: 1.5rem;
  }

  .relevant-courses-container {
    font-size: 0.8rem;
    width: 55%;
  }

  .in-relevant-courses {
    padding-top: 0.9rem;
  }

  html {
    scroll-behavior: smooth;
    transition-duration: 0.4s;
  }

  .blinking-underscore{
    color: white;
    animation: blink 1s infinite;
  }
  .blinking-underscore.typing {
    animation: none;
  }
  @keyframes blink {
    0% { color: white; }
    49% { color: white; }
    50% { color: black; }
    99% { color: black; }
    100% { color: white; }
  }

  .contact-text {
    font-family: "Open Sans";
    text-align: left;
    padding-bottom: 0.9rem;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
  }

  .contact-text a {
    transition-duration: 0.4s;
    color: white;
  }

  .contact-text a:hover {
    color: #6D98AB;
  }

  .contact-form {
    padding: 0rem 4rem;
  }

  .form-control {
    width: 100%;
    background: transparent;
    border: 1px solid gray;
    outline: none;
    color: white;
    font-family: "Open Sans";
    font-size: 0.9rem;
    margin-bottom: 0.9rem;
    padding: 0.45rem;
  }

  .form-control.message {
    height: 8rem;
    padding: 0.1rem 0.45rem;
  }

  input {
    height: 1.5rem;
  }

  .form-control.submit {
    background: #2e2e2e;
    border-color: transparent;
    color: white;
    font-size: 0.9rem;
    height: 2rem;
    transition-duration: 0.4s;
    width: 10rem;
  }

  .form-control.submit:hover {
     background-color: #6D98AB;
     cursor: pointer;
  }
}
/*--------------------------- Portrait Tablet 768px ---------------------------*/
@media only screen and (min-width: 768px) and (orientation: portrait) {
  .navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #2e2e2e;
    width: 100%;
    height: 8%;
    z-index: 1;
  }

  .navbar button {
    height: 100%;
    padding: 0rem 1rem;
    font-size: 1.2rem;
    text-align: center;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 18%;
    padding: 1rem;
    font-family: Consolas, monaco, monospace;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 5px;
    outline-style: solid;
    outline-width: 8px;
    min-width: 40rem;
  }

  .header-description {
    padding: 2rem;
    text-align: center;
    font-family: "Open Sans";
    font-size: 1.8rem;
  }

  .header-icons-ul li {
    display: inline-block;
    list-style: none;
    padding: 0px 15px;
  }

  .header-icons-ul li .fab {
    font-size: 60px;
    transition: 0.4s
  }

  .main-body-header {
    font-family: Consolas, monaco, monospace;
    width: 100%;
    font-size: 3rem;
    letter-spacing: 5px;
    padding: 16% 3% 0px; /*accomodates for navbar and more*/
  }

  .main-body-text {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    text-align: left;
    font-family: "Open Sans";
    padding: 2rem 5rem 0px;
  }

  .about-area {
    height: 100vh;
  }

  .main-body-text.about p{
    font-size: 1.2rem;
  }

  .projects-area {
    height: 100vh;
  }
  .main-body-text.projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 3px solid white;
    border-radius: 2px;
    z-index: 10;
    background-color: black;
    width: 768px;
    max-width: 80%;
    transition: 0.4s;
  }

  .modal-open-button-container {
    background-color: #6D98AB;
    opacity: 1;
    height: 171px;
    width: 304px;
    border: 8px solid #2e2e2e;
  }

  .modal-header {
    padding: 0.5rem;
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid white;
  }

  .modal-header .modal-title {
    font-family: Consolas, monaco, monospace;
    font-size: 2rem;
    font-weight: bold;
    color: #6D98AB;
    width: 95%;
  }

  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem;
    transition-duration: 0.4s;
  }

  .modal-body {
    font-size: 1.2rem;
    padding: 0px 1rem;
  }

  .modal-skills .fab{
    font-size: 2rem;
    transition: 0.4s;
    padding: 1rem 1rem 0.5rem;
    color: white;
  }

  .modal-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }

  .modal-buttons button{
    padding: 1.2rem;
    font-size: 1.2rem;
  }

  .education-area{
    height: 100vh;
  }

  .main-body-text.education {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    align-items: baseline;
    text-align: left;
    padding: 2rem 5rem 0px;
  }

  .university-name-info-container {
    margin-right: 5%;
    width: 40%;
  }

  .university-name {
    font-family: Consolas, monaco, monospace;
    font-weight: bold;
    color: #6D98AB;
    font-size: 1.8rem;
    border-bottom: 2px solid gray;
  }

  .university-info {
    font-size: 1.2rem;
    line-height: 2.4rem;
  }

  .relevant-courses-container {
    font-size: 1.2rem;
    width: 60%;
  }

  .in-relevant-courses {
    padding-bottom: 1.2rem;
  }

  .contact-text {
    font-family: "Open Sans";
    padding-bottom: 3rem;
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .form-control {
    width: 75%;
    background: transparent;
    border: 1px solid gray;
    outline: none;
    color: white;
    font-family: "Open Sans";
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .form-control.message {
    height: 10rem;
    padding: 8px;
  }

  input {
    height: 2.4rem;
  }

  .form-control.submit {
    background: #2e2e2e;
    border-color: transparent;
    color: white;
    font-size: 1.2rem;
    height: 3.6rem;
    width: 50%;
    transition-duration: 0.4s;
  }
}
/*------------------------- Landscape Tablet 1024px ---------------------------*/
@media only screen and (min-width: 1024px) and (orientation:landscape) {
  .navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #2e2e2e;
    width: 100%;
    height: 8%;
    z-index: 1;
  }

  .navbar button {
    height: 100%;
    padding: 0px 40px;
    font-size: 21px;
    text-align: center;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 100px; /*accomodates for navbar*/
    padding: 15px;
    font-family: Consolas, monaco, monospace;
    font-size: 65px;
    font-weight: bold;
    letter-spacing: 5px;
    outline-style: solid;
    outline-width: 8px;
    min-width: 600px; /* prev: 390 */
  }

  .header-description {
    padding: 25px;
    text-align: center;
    line-height: 35px;
    font-family: "Open Sans";
    font-size: 22px;
    letter-spacing: 5px;
  }

  .header-icons-ul li {
    display: inline-block;
    list-style: none;
    padding: 0px 15px;
  }

  .header-icons-ul li .fab {
    font-size: 60px;
    transition: 0.4s
  }

  .main-body-header {
    font-family: Consolas, monaco, monospace;
    width: 100%;
    font-size: 40px;
    letter-spacing: 3px;
    padding: 120px 30px 0px; /*accomodates for navbar and more*/
  }

  .main-body-text {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    text-align: left;
    font-family: "Open Sans";
    font-size: 20px;
    padding: 20px 55px 0px;
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 3px solid white;
    border-radius: 10px;
    z-index: 10;
    background-color: black;
    width: 700px;
    max-width: 80%;
    transition: 0.4s;
    height: 525px;
  }

  .modal-open-button-container {
    background-color: #6D98AB;
    opacity: 1;
    height: 171px;
    width: 304px;
    border: 8px solid #2e2e2e;
  }

  .modal-header {
    padding: 20px 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 2px solid white;
    letter-spacing: 3px;
  }

  .modal-header .modal-title {
    font-family: Consolas, monaco, monospace;
    font-size: 30px;
    font-weight: bold;
    color: #6D98AB;
    width: 95%;
  }

  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 2px;
    transition-duration: 0.4s;
  }

  .modal-body {
    font-size: 20px;
    padding: 0px 30px 0px 30px;
  }

  .modal-skills .fab{
    font-size: 35px;
    transition: 0.4s;
    padding: 15px 30px 10px 30px;
    color: white;
  }

  .modal-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }

  .modal-buttons button{
    margin-right: 15px;
    margin-left: 15px;
    padding: 20px;
    font-size: 24px;
  }

  .education-area{
    height: 100vh;
  }

  .main-body-text.education {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    align-items: baseline;
    text-align: left;
    font-size: 26px;
    padding: 0px 55px 0px;
  }

  .university-name-info-container {
    margin-right: 20px;
    width: 40%;
  }

  .university-name {
    font-family: Consolas, monaco, monospace;
    font-weight: bold;
    color: #6D98AB;
    font-size: 30px;
    border-bottom: 2px solid gray;
  }

  .university-info {
    padding-top: 5px;
    font-size: 20px;
  }

  .relevant-courses-container {
    font-size: 20px;
    width: 60%;
  }

  .in-relevant-courses {
    padding-top: 30px;
  }

  .contact-text {
    font-family: "Open Sans";
    padding-bottom: 30px;
    font-size: 20px;
    line-height: 20px;
  }

  .form-control {
    width: 100%;
    background: transparent;
    border: 1px solid gray;
    outline: none;
    color: white;
    font-family: "Open Sans";
    font-size: 20px;
    margin-bottom: 20px;
    padding: 10px;
  }

  .form-control.message {
    height: 180px;
    padding: 8px;
  }

  input {
    height: 40px;
  }

  .form-control.submit {
    background: #2e2e2e;
    border-color: transparent;
    color: white;
    font-size: 26px;
    letter-spacing: 5px;
    height: 80px;
    transition-duration: 0.4s;
  }
}
/*----------------------------- Desktop 1366px --------------------------------*/
@media only screen and (min-width: 1366px) {
  .navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #2e2e2e;
    width: 100%;
    height: 8%;
    z-index: 1;
  }

  .navbar button {
    height: 100%;
    padding: 0rem 2rem;
    font-size: 1.2rem;
    text-align: center;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 6rem; /*accomodates for navbar*/
    padding: 1rem;
    font-family: Consolas, monaco, monospace;
    font-size: 4.8rem;
    font-weight: bold;
    letter-spacing: 6px;
    outline-style: solid;
    outline-width: 12px;
    min-width: 44.5rem; /* prev: 390 */
  }

  .header-description {
    padding: 2.4rem 0px;
    text-align: center;
    line-height: 2.4rem;
    font-family: "Open Sans";
    font-size: 1.2rem;
  }

  .header-icons-ul li {
    display: inline-block;
    list-style: none;
    padding: 0px 15px;
  }

  .header-icons-ul li .fab {
    font-size: 50px;
    transition: 0.4s
  }

  .main-body-header {
    font-family: Consolas, monaco, monospace;
    width: 100%;
    font-size: 2.4rem;
    letter-spacing: 3px;
    padding: 7% 5% 0px; /*accomodates for navbar and more*/
  }

  .main-body-text {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    text-align: left;
    font-family: "Open Sans";
    padding: 20px 60px 0px;

  }

  .main-body-text.about {
    padding: 1.2rem 5% 0;
  }

  .main-body-text.about p {
    font-size: 1.2rem;
    background-color: gray;
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 2px solid white;
    border-radius: 10px;
    z-index: 10;
    background-color: black;
    width: 726px;
    max-width: 80%;
    transition: 0.4s;
    height:auto;
  }

  .modal-open-button-container {
    background-color: #6D98AB;
    opacity: 1;
    height: 11.25rem;
    width: 20rem;
    border: 0.9rem solid #2e2e2e;
  }

  .modal-header {
    padding: 0.6rem 1.2rem;
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid white;
  }

  .modal-header .modal-title {
    font-family: Consolas, monaco, monospace;
    font-size: 1.8rem;
    font-weight: bold;
    color: #6D98AB;
    width: 95%;
  }

  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 2px;
    transition-duration: 0.4s;
  }

  .modal-body {
    font-size: 1.2rem;
    padding: 0px 1.2rem;
  }

  .modal-skills .fab{
    font-size: 1.8rem;
    transition: 0.4s;
    padding: 0.8rem 1.2rem 0.6rem;
    color: white;
  }

  .modal-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal-buttons button{
    padding: 1.2rem;
    font-size: 1.2rem;
  }

  .education-area{
    height: 100vh;
  }

  .main-body-text.education {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    align-items: baseline;
    text-align: left;
    padding: 1.2rem 5% 0px;
  }

  .university-name-info-container {
    margin-right: 5%;
    width: 36%;
  }

  .university-name {
    font-family: Consolas, monaco, monospace;
    font-weight: bold;
    color: #6D98AB;
    font-size: 1.8rem;
    border-bottom: 1px solid gray;
  }

  .university-info {
    font-size: 1.2rem;
    line-height: 2.4rem;
  }

  .relevant-courses-container {
    font-size: 1.2rem;
    width: 64%;
  }

  .in-relevant-courses {
    padding-top: 1.2rem;
  }

  .main-body-text.contact {
    display: flex;
    align-items: center;
  }

  .contact-text {
    text-align: center;
    font-family: "Open Sans";
    padding: 1.2rem 0rem;
    font-size: 1.2rem;
    width: 67%;
    margin-bottom: 1.2rem;
    line-height: 1.8rem;
  }

  .contact-form{
    width: 67%;
  }

  .form-control {
    background: transparent;
    border: 1px solid gray;
    outline: none;
    color: white;
    font-family: "Open Sans";
    font-size: 1.2rem;
    padding: 0.6rem;
    height: 2.4rem;
  }

  .form-control.message {
    height: 10rem;
    padding: 0.6rem;
  }

  input {
    height: 48px;
  }

  .form-control.submit {
    background: #2e2e2e;
    border-color: transparent;
    color: white;
    font-size: 1.2rem;
    padding: 1.2rem;
    width: 33%;
    transition-duration: 0.4s;
  }
}
