* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: white;
}

body {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #2e2e2e;
  width: 100%;
  height: 60px;
  z-index: 1;
}

.navbar button {
  height: 100%;
  padding: 6.5px;
}

button {
  color: white;
  font-family: Consolas, monaco, monospace;
  font-size: 11px;
  text-transform: lowercase;
  border: none;
  background-color: #2e2e2e;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #6D98AB;
  cursor: pointer;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: black;
}

.header {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 60px; /*accomodates for navbar*/
  padding: 5px;
  font-family: Consolas, monaco, monospace;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 3px;
  outline-style: solid;
  outline-width: 4px;
  min-width: 230px; /* Justin don't change this unless you want to die*/
}

.justinsantos{
  display: flex;
  text-align: center;
}

.header-description {
  padding: 15px;
  text-align: center;
  line-height: 20px;
  font-family: "Open Sans";
  font-size: 10px;
  letter-spacing: 3px;
}

.header-description a {
  transition-duration: 0.4s;
  text-decoration: none;
  color: white;
}

.header-description a:hover {
    color: #6D98AB;
}

.header-icons {
  margin-top: 0;
}

.header-icons-ul li {
  display: inline-block;
  list-style: none;
  padding: 0px 5px;
}

.header-icons-ul li .fab {
  font-size: 30px;
  transition: 0.4s
}

.header-icons-ul li a {
  color: white;
}

.header-icons-ul li a:hover {
  color: #6D98AB;
  cursor: pointer;
}

.main-body-header {
  font-family: Consolas, monaco, monospace;
  width: 100%;
  font-size: 20px;
  letter-spacing: 3px;
  padding: 70px 10px 0px; /*accomodates for navbar and more*/
}

.justinText {
  color: #6D98AB;
}

.main-body-text {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  text-align: left;
  font-family: "Open Sans";
  font-size: 9px;
  padding: 10px 20px 0px;
}

.main-body-text.education {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  align-items: baseline;
  text-align: left;
  font-size: 12px;
  padding: 10px 20px 0px;
}

.main-body-text.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about-area, .projects-area, .education-area, .resume-area, .contact-area {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.main-body-text.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border: 2px solid white;
  border-radius: 10px;
  z-index: 10;
  background-color: black;
  width: 700px;
  max-width: 80%;
  transition: 0.4s;
}

.modal-img {
  transition-duration: 0.4s;
  height: 100%;
  width: 100%;
}

.modal-open-button-container {
  background-color: #6D98AB;
  opacity: 1;
  height: 63px;
  width: 112px;
  border: 5px solid #2e2e2e;
  margin: 10px;
}

.modal-open-button-container:hover .modal-img{
  opacity: 0.3;
  cursor: pointer;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 1px solid white;
  letter-spacing: calc(0.1vw + 0.1vh);
}

.modal-header .modal-title {
  font-family: Consolas, monaco, monospace;
  font-size: 11px;
  font-weight: bold;
  color: #6D98AB;
  width: 95%;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  transition-duration: 0.4s;
}

.modal-header .close-button:hover {
  color: #6D98AB;
}

.modal-body {
  font-size: 9px;
  padding: 10px 15px;
}

.modal-skills .fab{
  font-size: 16px;
  transition: 0.4s;
  padding: 15px 15px 0px 15px;
  color: white;
}

.modal-skills .fab:hover {
  cursor: pointer;
  color: #6D98AB;
}

.modal-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.modal-buttons button{
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6D98AB;
  z-index: 9;
  pointer-events: none;
  transition: 0.4s;
}

#overlay.active{
  opacity: 0.2;
  pointer-events: all;
}

.university-name-info-container {
  margin-right: 10px;
  width: 40%;
}

.university-name {
  font-family: Consolas, monaco, monospace;
  font-weight: bold;
  color: #6D98AB;
  border-bottom: 1px solid gray;
}

.university-info {
  padding-top: 5px;
  font-size: 9px;
}

.relevant-courses-container {
  font-size: 9px;
  width: 60%;
}

.in-relevant-courses {
  padding-top: 10px;
}

html {
  scroll-behavior: smooth;
  transition-duration: 0.4s;
}

.wip {
  font-family: Consolas, monaco, monospace;
  font-size: calc(2.5vw + 2.5vh);
  font-weight: bold;
  letter-spacing: calc(0.25vw + 0.25vh);
  margin-top: calc(1vw + 1vh);
}

.blinking-underscore{
  color: white;
  animation: blink 1s infinite;
}
.blinking-underscore.typing {
  animation: none;
}
@keyframes blink {
  0% { color: white; }
  49% { color: white; }
  50% { color: black; }
  99% { color: black; }
  100% { color: white; }
}

.contact-text {
  font-family: "Open Sans";
  padding-bottom: 20px;
  font-size: 9px;
  line-height: 13px;
}

.contact-text a {
  transition-duration: 0.4s;
  color: white;
}

.contact-text a:hover {
  color: #6D98AB;
}

.form-control {
  width: 100%;
  background: transparent;
  border: 1px solid gray;
  outline: none;
  color: white;
  font-family: "Open Sans";
  font-size: 9px;
  margin-bottom: 10px;
  padding: 5px;
}

.form-control.message {
  height: 100px;
  padding: 5px;
}

input {
  height: 24px;
}

.form-control.submit {
  background: #2e2e2e;
  border-color: transparent;
  color: white;
  font-size: 15px;
  letter-spacing: 3px;
  height: 40px;
  transition-duration: 0.4s;
}

.form-control.submit:hover {
   background-color: #6D98AB;
   cursor: pointer;
}

@media only screen and (min-width: 480px) {
  .navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #2e2e2e;
    width: 100%;
    height: 80px;
    z-index: 1;
  }

  .navbar button {
    height: 100%;
    padding: 13px;
    font-size: 15px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 80px; /*accomodates for navbar*/
    padding: 5px;
    font-family: Consolas, monaco, monospace;
    font-size: 37px;
    font-weight: bold;
    letter-spacing: 5px;
    outline-style: solid;
    outline-width: 4px;
    min-width: 360px; /* Justin don't change this unless you want to die*/
  }

  .header-description {
    padding: 25px;
    text-align: center;
    line-height: 30px;
    font-family: "Open Sans";
    font-size: 16px;
    letter-spacing: 5px;
  }

  .header-icons-ul li {
    display: inline-block;
    list-style: none;
    padding: 0px 10px;
  }

  .header-icons-ul li .fab {
    font-size: 40px;
    transition: 0.4s
  }

  .main-body-header {
    font-family: Consolas, monaco, monospace;
    width: 100%;
    font-size: 28px;
    letter-spacing: 3px;
    padding: 100px 10px 0px; /*accomodates for navbar and more*/
  }

  .main-body-text {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    text-align: left;
    font-family: "Open Sans";
    font-size: 16px;
    padding: 20px 40px 0px;
  }

  .modal-open-button-container {
    background-color: #6D98AB;
    opacity: 1;
    height: 99px;
    width: 176px;
    border: 8px solid #2e2e2e;
  }

  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid white;
    letter-spacing: 3px;
  }

  .modal-header .modal-title {
    font-family: Consolas, monaco, monospace;
    font-size: 20px;
    font-weight: bold;
    color: #6D98AB;
    width: 95%;
  }

  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    transition-duration: 0.4s;
  }

  .modal-body {
    font-size: 16px;
    padding: 14px 20px;
  }

  .modal-skills .fab{
    font-size: 24px;
    transition: 0.4s;
    padding: 20px 20px 0px 20px;
    color: white;
  }

  .modal-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .modal-buttons button{
    margin-right: 8px;
    margin-left: 8px;
    padding: 10px;
    font-size: 16px;
  }

  .main-body-text.education {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    align-items: baseline;
    text-align: left;
    font-size: 16px;
    padding: 10px 20px 0px;
  }

  .university-name-info-container {
    margin-right: 14px;
    width: 40%;
  }

  .university-name {
    font-family: Consolas, monaco, monospace;
    font-weight: bold;
    color: #6D98AB;
    font-size: 20px;
    border-bottom: 1px solid gray;
  }

  .university-info {
    padding-top: 10px;
    font-size: 16px;
  }

  .relevant-courses-container {
    font-size: 16px;
    width: 60%;
  }

  .in-relevant-courses {
    padding-top: 14px;
  }

  .contact-text {
    font-family: "Open Sans";
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 22px;
  }

  .form-control {
    width: 100%;
    background: transparent;
    border: 1px solid gray;
    outline: none;
    color: white;
    font-family: "Open Sans";
    font-size: 16px;
    margin-bottom: 20px;
    padding: 8px;
  }

  .form-control.message {
    height: 200px;
    padding: 8px;
  }

  input {
    height: 32px;
  }

  .form-control.submit {
    background: #2e2e2e;
    border-color: transparent;
    color: white;
    font-size: 16px;
    letter-spacing: 5px;
    height: 50px;
    transition-duration: 0.4s;
  }
}
