* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: white;
}

body {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #2e2e2e;
  width: 100%;
  height: calc(3vw + 3.75vh);
  z-index: 1;
}

button {
  color: white;
  font-family: Consolas, monaco, monospace;
  font-size: calc(0.5vw + 0.95vh);
  padding: calc(1vw + 1.25vh);
  text-transform: lowercase;
  border: none;
  background-color: #2e2e2e;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #636363;
  cursor: pointer;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: black;
}

.header-main {
  display: flex;
  margin-top: calc(3vw + 3.75vh);
  padding: calc(1vw + 1vh) calc(1vw + 1vh);
  font-family: Consolas, monaco, monospace;
  font-size: calc(2.5vw + 2.5vh);
  font-weight: bold;
  letter-spacing: calc(0.25vw + 0.25vh);
  outline-style: solid;
  outline-width: calc(0.375vw + 0.375vh);
  min-width: calc(15vw + 35vh);
}

.justinsantos{
  display: flex;
  text-align: center;
}

.header-description {
  padding-top: calc(1vw + 1vh);
  text-align: center;
  line-height: calc(2vw + 2vh);
  font-family: Consolas, monaco, monospace;
  font-size: calc(1vw + 1vh);
  letter-spacing: calc(0.25vw + 0.25vh);
}


.header-icons {
  margin-top: calc(2vw + 2vh);
}

.header-icons-ul li {
  display: inline-block;
  list-style: none;
  padding: 0 calc(0.5vw + 0.5vh);
}

.header-icons-ul li .fab {
  font-size: calc(2vw + 2vh);
  transition: 0.4s
}

.header-icons-ul li a {
  color: white;
}

.header-icons-ul li a:hover {
  color: #636363;
  cursor: pointer;
}

.text-type {
  text-align: left;
}

.text {
  font-size: calc(1.5vw + 1.5vh);
}

.main-body-header {
  font-family: Consolas, monaco, monospace;
  width: 100%;
  font-size: calc(1.5vw + 1.5vh);
  letter-spacing: calc(0.1vw + 0.1vh);
  padding: 1vw 1vw;
}

.justinText {
  color: #FF756D;
}

.main-body-text {
  width: 100%;
  text-align: center;
  font-size: calc(1vw + 1vh);
  padding: 0vw 5vw;
}

.about-area, .projects-area, .education-area, .resume-area, .contact-area {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

html {
  scroll-behavior: smooth;
  transition-duration: 0.4s;
}

.wip {
  font-family: Consolas, monaco, monospace;
  font-size: calc(2.5vw + 2.5vh);
  font-weight: bold;
  letter-spacing: calc(0.25vw + 0.25vh);
  margin-top: calc(1vw + 1vh);
}

.blinking-underscore{
  color: white;
  animation: blink 1s infinite;
}
.blinking-underscore.typing {
  animation: none;
}
@keyframes blink {
  0% { color: white; }
  49% { color: white; }
  50% { color: black; }
  99% { color: black; }
  100% { color: white; }
}
